.site-header {
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 2rem;
}

.site-header .site-header-logo {
  color: var(--header-font-color);
  display: inline-block;
  text-decoration: none;
}


.site-header h1 {
  margin: 0;
  max-width: 100%;
  text-transform: uppercase;
  line-height: 0.75;
  margin-top: 1.25rem;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: var(--header-font-size);
}

.site-header h1 .header-last-name {
  color: var(--header-secondary-font-color);
}

.nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 3.75rem;
  max-height: 0;
  transition: max-height .5s ease-out;
  background-color: var(--body-background-color);
  z-index: 100;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  a {
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 0.5rem 0;
    color: var(--color-black);
    text-transform: uppercase;
    border-bottom: 1px #C9C9C9 solid;

    &.active {
      color: var(--color-black);
      font-family: 'Proxima Nova Semibold', sans-serif;
      text-decoration: underline;
      text-decoration-color: var(--color-yellow);
      text-decoration-thickness: 2px;
    }
  }
}

.hamb {
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  margin-top: 1.5rem;
}

.hamb-line {
  background: var(--color-brown);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after{
  background: var(--color-brown);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  z-index: 2;
}

.hamb-line::before{
  top: 6px;
}
.hamb-line::after{
  top: -6px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    grid-row: span 2;
    height: auto;
    display: grid;
    align-items: center;
  }

  .nav-links {
    display: inline-block;
    justify-self: right;
  }

  .nav-links li {
    display: inline-block;
    padding: 0 1rem;

    a {
      padding: 0;
      border-bottom: none;
    }
  }

  .hamb{
    display: none;
  }
}

@media (min-width: 768px) {
  .site-header {
    grid-template-columns: none;
    display: flex;
    flex-direction: row;

    h1 {
      width: 10rem;
    }
  }

  .nav-links {
    align-self: flex-end;
  }
}