.site-header h1 {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0.5rem;
}

.site-header h1 + h2 {
  margin-top: 0;
  color: var(--color-red);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-family: 'Helvetica Neue 97 Black Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.site-header h1 a {
  text-decoration: none;
  color: var(--color-black);
}