.post-preview a {
  aspect-ratio: 1;
  display: block;
} 

.post-preview img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  max-inline-size: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}