---
import { getCollection } from "astro:content";
import Layout from '../../../layouts/Layout.astro';
import PostPreview from "../../../components/PostPreview.astro";
import { getLangFromUrl } from "../../../i18n/utils";
import { getAgeFromPublishDate, getAgeLabel } from "../../../helpers/age";

const lang = getLangFromUrl(Astro.url);
const slugParam = Astro.params.slug;
if (!slugParam || (Array.isArray(slugParam) && slugParam.length === 0)) {
  return Astro.redirect("/en/albums");
}
const slug = Array.isArray(slugParam) ? slugParam.join("/") : slugParam;
const ageLabel = getAgeLabel(slug, lang);

const albumPhotos = await getCollection("photos", (photo) => {
  return getAgeFromPublishDate(photo.data["publish-date"]) === slug && photo.slug.startsWith('en');
});

if (albumPhotos === undefined) {
  return Astro.redirect("/404");
}
---
<Layout description={`Check out all the photos of Leo during this time period: ${ageLabel}`}>
  <main class="show-album">
    <h2>{ageLabel}</h2>
    <p>{albumPhotos.length} PHOTOS</p>
    <section class="photos-grid" aria-label="Photo Post List">
      {albumPhotos
        .sort((a, b) => a.data['publish-date'] > b.data['publish-date'] ? -1 : 1 )
        .map((p) => <PostPreview post={p} />)
      }
    </section>
  </main>
</Layout>
