---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Album from '../../components/Album.astro';

const allPosts = await getCollection('photos', (photo) => {
  return photo.slug.startsWith('en')
});

const ages = allPosts.map(post => post.data.age);
const uniqueAgesSet = [ ...new Set(ages)];
const albumInfo = uniqueAgesSet.map(age => {
  const allAges = allPosts.filter(({data}) => {
    return data.age === age;
  });

  return {
    age,
    count: allAges.length,
    coverImagePath: allAges[0].data.photo
  }
});
---

<Layout>
  <main class="album-layout">
    <section class="albums-grid" aria-label="Albums List">
      {albumInfo.map((album) => <Album albumInfo={album} />)}
    </section>
  </main>		
</Layout/>