---
import PostPreview from '../../components/PostPreview.astro';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const allPosts = await getCollection('photos');
---

<Layout>
  <meta http-equiv="refresh" content="0;url=/ja/" />
  <main>
    <section class="photos-grid" aria-label="Photo Post List">
      {allPosts.map((p) => <PostPreview post={p} />)}
    </section>
  </main>		
</Layout/>