---
import PostPreview from '../../components/PostPreview.astro';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Album from '../../components/Album.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const i18n = useTranslations(lang);
const allPosts = await getCollection('photos', (photo) => {
  return photo.slug.startsWith('en')
});

const ages = allPosts.map(post => post.data.age);
const uniqueAgesSet = [ ...new Set(ages)];
const albumInfo = uniqueAgesSet.map(age => {
  const allPhotosByAge = allPosts.filter(({data}) => {
    return data.age === age;
  });

  const createdDate = allPhotosByAge.reduce((acc, val) => {
      return acc > val.data['publish-date'] ? val.data['publish-date'] : acc;
    }, allPhotosByAge[0].data['publish-date']
  );

  return {
    age,
    count: allPhotosByAge.length,
    coverImagePath: allPhotosByAge[0].data.photo,
    createdDate,
  }
});
const PHOTO_LIMIT = 6;
const ALBUM_LIMIT = 2;
---

<Layout description="Check out our son Leo's life through photography. As he grows up we document his life with pictures so you can experience the joy he gives us every day.">
  <main class="home-layout">
    <Hero />
    <section class="photos-grid" aria-label="Photo Post List">
      {allPosts
        .sort((a, b) => a.data['publish-date'] > b.data['publish-date'] ? -1 : 1 )
        .slice(0, PHOTO_LIMIT)
        .map((p) => <PostPreview post={p} />)
      }
      <a href="/all-photos">{i18n('more_photos')}</a>
    </section>
    <section class="albums-grid" aria-label="Latest YouTube Video">
    <iframe width="100%" height="350px"
      src="https://www.youtube.com/embed/3RSbmir1jto?si=QejPmcaKQLhayy48"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <a href="https://www.youtube.com/@LeoAdu">{i18n('more_videos')}</a>
  </section>
    <section class="albums-grid" aria-label="Albums List">
      {albumInfo
        .sort((a, b) => a.createdDate > b.createdDate ? -1 : 1 )
        .slice(0, ALBUM_LIMIT)
        .map((album) => <Album compact albumInfo={album} />)
      }
      <a href="/albums">{i18n('more_albums')}</a>
    </section>
  </main>		
</Layout/>