---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import PostPreview from "../../components/PostPreview.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import type { ui, defaultLang } from "../../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const i18n = useTranslations(lang);
const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}

const albumPhotos = await getCollection("photos", (photo) => {
  return photo.data.age === slug && !photo.slug.startsWith('en');
});

if (albumPhotos === undefined) {
  return Astro.redirect("/404");
}
---
<Layout>
  <main class="show-album">
    <h2>{i18n(slug as keyof typeof ui[typeof defaultLang])}</h2>
    <p>{albumPhotos.length} PHOTOS</p>
    <section class="photos-grid" aria-label="Photo Post List">
      {albumPhotos
        .sort((a, b) => a.data['publish-date'] > b.data['publish-date'] ? -1 : 1 )
        .map((p) => <PostPreview post={p} />)
      }
    </section>
  </main>
</Layout>