---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PostPreview from '../components/PostPreview.astro';
import { siteConfig } from '../config';


let { title } = siteConfig;
let description = 'Showing Leos life in pictures';
let permalink = 'https://leoadu.com/';

let allPosts = await Astro.glob('./photos/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body>
		<Header />
			<main>
				<section class="photos-grid" aria-label="Photo Post List">
					{allPosts.map((p) => <PostPreview post={p} />)}
				</section>
			</main>		
	</body>
</html>