---
import PostPreview from '../components/PostPreview.astro';
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection('photos');
---

<Layout>
  <main>
    <section class="photos-grid" aria-label="Photo Post List">
      {allPosts.sort((a, b) => a.data['publish-date'].getDate() - b.data['publish-date'].getDate() ).map((p) => <PostPreview post={p} />)}
    </section>
  </main>		
</Layout/>