---
import type { ui, defaultLang } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
interface Props {
  albumInfo: {
    age: string;
    count: number;
    coverImagePath: string;
  };
  compact?: boolean;
}

const lang = getLangFromUrl(Astro.url);
const i18n = useTranslations(lang);
const { albumInfo, compact } = Astro.props;

---
<a href=`/album/${albumInfo.age}`>
<article class=`album ${compact && 'compact'}`>
  <img src={albumInfo.coverImagePath} loading="lazy" />
  <h2 class="h3">{i18n(albumInfo.age as keyof typeof ui[typeof defaultLang])}</h2>
  <p>{albumInfo.count} PHOTOS</p>
</article>
</a>
