---
import { siteConfig } from '../config';
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';
import Navigation from './Navigation.astro';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---
<header class="site-header">
  <a class="site-header-logo" href={translatePath("/")}>
		<h1>
			{siteConfig.title}
		</h1>
  </a>
    <Navigation />
</header>