---
import { siteConfig } from '../config';
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---
<header class="site-header">
		<h1>
			<a href={translatePath("/")}>
				{siteConfig.title}
			</a>
		</h1>
    <h2>{siteConfig.subTitle}</h2>
</header>