---
---
<div class="hero">
  <h2 class="h4">It has been this long since our son Leo was brought into the world!</h2>
  <div id="countdown" class="countdown">
      <div class="time">
        <h3 id="months">00</h3>
        <small>months</small>
      </div>
			<div class="time">
				<h3 id="weeks">00</h3>
				<small>weeks</small>
			</div>
			<div class="time">
				<h3 id="days">00</h3>
				<small>days</small>
			</div>
			<div class="time">
				<h3 id="hours">00</h3>
				<small>hours</small>
			</div>
		</div>
    <!-- <button class="button">Learn about Leo</button> -->
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const months = document.getElementById('months');
    const weeks = document.getElementById('weeks');
    const days = document.getElementById('days');
    const hours = document.getElementById('hours');
    
    

    // target date
    const birthTime = new Date(`January 1 2024 21:45:00`)
    const currentTime = new Date()
    let differenceInTime = currentTime - birthTime;

    const updateCountdown = () => {
      const msInWeek = 1000 * 60 * 60 * 24 * 7;
      const msInDay = 24 * 60 * 60 * 1000;
      const msInHour = 1000 * 60 * 60;

      const remainingMonths = birthTime.getMonth() - currentTime.getMonth() + 12 * (birthTime.getFullYear() - currentTime.getFullYear());
      const remainingWeeks = Math.round(Math.abs(differenceInTime) / msInWeek);
      const remainingDays = Math.round((Math.abs(differenceInTime) / msInDay));
      const remainingHours = Math.round(remainingDays * 24 - (Math.abs( differenceInTime) / msInHour));

      months.innerHTML = remainingMonths < 10 ? '0' + remainingMonths : remainingMonths;
      weeks.innerHTML = remainingWeeks < 10 ? '0' + remainingWeeks : remainingWeeks;
      days.innerHTML = remainingDays < 10 ? '0' + remainingDays : remainingDays;
      hours.innerHTML = remainingHours < 10 ? '0' + remainingHours  : remainingHours;
      
    }

    const countdownInterval = setInterval(() => {
      updateCountdown();
          differenceInTime += 1000;
          if (differenceInTime < 0) {
            differenceInTime = 0; // Asegura que diff no sea negativo
        }
      }, 1000);
    })
</script>