---  
  import { addDays, addMonths, differenceInDays, differenceInHours, differenceInMonths } from 'date-fns';
  import { utcToZonedTime } from 'date-fns-tz';
  import { getLangFromUrl, useTranslations } from "../i18n/utils";
  const lang = getLangFromUrl(Astro.url);
  const i18n = useTranslations(lang);
  
  const timeZone = 'Asia/Tokyo';
  const birthDateTime = utcToZonedTime(new Date('2024-01-01T21:45:00+09:00'), timeZone);
  const currentDateTime = utcToZonedTime(new Date(), timeZone);

  const runningMonths = differenceInMonths(currentDateTime, birthDateTime);
  const afterMonths = addMonths(birthDateTime, runningMonths);
  const daysAfterMonths = differenceInDays(currentDateTime, afterMonths);
  const runningWeeks = Math.floor(daysAfterMonths / 7);
  const runningDays = daysAfterMonths % 7;
  const afterDays = addDays(afterMonths, daysAfterMonths);
  const runningHours = differenceInHours(currentDateTime, afterDays);

  const monthsToDisplay = runningMonths < 10 ? '0' + runningMonths : runningMonths;
  const weeksToDisplay = runningWeeks < 10 ? '0' + runningWeeks : runningWeeks;
  const daysToDisplay = runningDays < 10 ? '0' + runningDays : runningDays;
  const hoursToDisplay = runningHours < 10 ? '0' + runningHours  : runningHours;
---
<div class="hero">
  <h2 class="h4">{i18n('home.tagline')}</h2>
  <div id="countdown" class="countdown">
      <div class="time">
        <h3 id="months">{monthsToDisplay}</h3>
        <small>months</small>
      </div>
			<div class="time">
				<h3 id="weeks">{weeksToDisplay}</h3>
				<small>weeks</small>
			</div>
			<div class="time">
				<h3 id="days">{daysToDisplay}</h3>
				<small>days</small>
			</div>
			<div class="time">
				<h3 id="hours">{hoursToDisplay}</h3>
				<small>hours</small>
			</div>
		</div>
    <!-- <button class="button">Learn about Leo</button> -->
</div>
