---
  
  import { getLangFromUrl, useTranslations } from "../i18n/utils";
  const lang = getLangFromUrl(Astro.url);
  const i18n = useTranslations(lang);
  
  const birthDateTime = new Date(
  new Date(`January 1 2024 21:45:00`).toLocaleString('ja-JP', {
      timeZone: 'Asia/Tokyo',
    }),
  );
  const currentDateTime = new Date(
      new Date().toLocaleString('ja-JP', {
        timeZone: 'Asia/Tokyo',
      }),
    );
  let differenceInTime = currentDateTime - birthDateTime;
  const msInHour = 1000 * 60 * 60;
  const totalHours = (Math.abs( differenceInTime) / msInHour);
  const runnningMonths = currentDateTime.getMonth() - birthDateTime.getMonth() + 12 * (currentDateTime.getFullYear() - birthDateTime.getFullYear());
  const runnningWeeks = Math.floor(totalHours / 24 / 7) - runnningMonths * 4;
  const runnningDays = Math.floor(totalHours / 24) - Math.floor(totalHours / 24 / 7) * 7;
  const runnningHours = Math.floor( totalHours % 24);
  const monthsToDisplay = runnningMonths < 10 ? '0' + runnningMonths : runnningMonths;
  const weeksToDisplay = runnningWeeks < 10 ? '0' + runnningWeeks : runnningWeeks;
  const daysToDisplay = runnningDays < 10 ? '0' + runnningDays : runnningDays;
  const hoursToDisplay = runnningHours < 10 ? '0' + runnningHours  : runnningHours;
---
<div class="hero">
  <h2 class="h4">{i18n('home.tagline')}</h2>
  <div id="countdown" class="countdown">
      <div class="time">
        <h3 id="months">{monthsToDisplay}</h3>
        <small>months</small>
      </div>
			<div class="time">
				<h3 id="weeks">{weeksToDisplay}</h3>
				<small>weeks</small>
			</div>
			<div class="time">
				<h3 id="days">{daysToDisplay}</h3>
				<small>days</small>
			</div>
			<div class="time">
				<h3 id="hours">{hoursToDisplay}</h3>
				<small>hours</small>
			</div>
		</div>
    <!-- <button class="button">Learn about Leo</button> -->
</div>
