---
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'photos'>;
}

import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const { post } = Astro.props;
const translatePath = useTranslatedPath(lang);
const trimmedSlug = post.slug.slice(2);
---
<article class="post-preview">
  <a href={translatePath(`/photos${trimmedSlug}`)}>
    <picture>
      <source 
        media="(min-width: 150px)"
        srcset=`https://res.cloudinary.com/dz8vyplpm/image/upload/ar_2:1,c_fill,g_face/f_auto/q_auto/c_scale,w_150/${post.data.photo.split('/').pop()} 150w, 
        https://res.cloudinary.com/dz8vyplpm/image/upload/ar_2:1,c_fill,g_face/f_auto/q_auto/c_scale,w_300/${post.data.photo.split('/').pop()} 300w`
        sizes="100vw"
      />
      <source 
        media="(min-width: 400px)"
        srcset=`https://res.cloudinary.com/dz8vyplpm/image/upload/f_auto/q_auto/c_scale,w_400/${post.data.photo.split('/').pop()} 400w, 
        https://res.cloudinary.com/dz8vyplpm/image/upload/f_auto/q_auto/c_scale,w_800/${post.data.photo.split('/').pop()} 800w`
        sizes="100vw"
      />
      <img
        srcset=`https://res.cloudinary.com/dz8vyplpm/image/upload/ar_1:1,c_thumb,g_face/f_auto/q_auto/c_scale,w_400/${post.data.photo.split('/').pop()} 400w, 
        https://res.cloudinary.com/dz8vyplpm/image/upload/ar_1:1,c_thumb,g_face/f_auto/q_auto/c_scale,w_150/${post.data.photo.split('/').pop()} 150w`
        src=`https://res.cloudinary.com/dz8vyplpm/image/upload/f_auto/q_auto/c_scale,w_400/${post.data.photo.split('/').pop()}`
        alt={post.data.title}
        sizes="100vw" 
        loading="lazy"
        decoding="async"
      />   
    </picture>
  </a>
</article>
