.albums-layout {
  .albums-grid {
    display: grid;
    gap: 1rem;
  }

  h2 {
    font-size: var(--h4-font-size);
    margin: 0;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    font-size: var(--base-font-size);
    margin: 0;
    margin-bottom: 1rem;
    color: var(--color-brown);
    text-align: center;
  }
}

@media (min-width: 768px) {
  .albums-layout {
    margin-bottom: 2rem;

    .albums-grid {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto;
      max-width: 900px;
    }

    h3 {
      margin-bottom: 1.5rem;
    }
  }
}