.all-photos-layout {
  h2 {
    font-size: var(--h4-font-size);
    margin: 0;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    font-size: var(--base-font-size);
    margin: 0;
    margin-bottom: 1rem;
    color: var(--color-brown);
    text-align: center;
  }
}