.photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.post-preview {
  aspect-ratio: 1;
}
img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  display: block;
  object-fit: cover; /* avoid distortion*/
  border-radius: 4px;
}