.show-photo-section img {
  border-radius: 4px;
  margin-bottom: 1rem;
}

.show-photo-section p,
.show-photo-section time {
  margin-bottom: 1rem;
}

.show-photo-section p {
  margin-bottom: 0;
  white-space: pre-wrap;
}

.show-photo-section time {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.show-photo-section h3 {
  margin: 1rem 0;
  font-size: var(--h4-font-size);
}

.show-photo-section .photos-grid {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .show-photo-section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(4,  auto);
    gap: 1rem;

    img {
      grid-row: 1 / 3;
    }

    .photos-grid {
      grid-row: 4/5;
      /* grid-column: 1 / -1; */
      max-width: 500px;
    }

    time {
      align-self: flex-end;
    }
  }
}