.show-photo-section img {
  border-radius: 4px;
  margin-bottom: 1rem;
}

.show-photo-section p,
.show-photo-section time {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.show-photo-section p {
  margin-bottom: 0;
  white-space: pre;
}

.show-photo-section time {
  font-family: 'Proxima Nova Semibold', sans-serif;
}