---
import BaseHead from '../components/BaseHead.astro';
import { getLangFromUrl } from '../i18n/utils';
import { siteConfig } from '../config';
import Header from '../components/Header.astro';

let { title } = siteConfig;
let description = 'Showing Leos life in pictures';
let permalink = 'https://leoadu.com/';

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body>
    <Header />
		<slot />
	</body>
</html>
