---
interface Props {
  description: string;
  imageUrl?: string;
}

import BaseHead from '../components/BaseHead.astro';
import { getLangFromUrl } from '../i18n/utils';
import Header from '../components/Header.astro';
let permalink = 'https://leoadu.com/';

const { imageUrl, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} transition:animate="slide">
	<head>
		<BaseHead title="Leo Adu's Photo Blog" {description} {permalink} {imageUrl}/>
	</head>
	<body>
    <Header />
		<slot />
	</body>
</html>
