* {
	box-sizing: border-box;
	margin: 0;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: var(--container-padding);
  flex-direction: column;
}

body {
	background: var(--body-background-color);
	color: var(--color-black);
  font-family: var(--font-body);
	font-size: var(--base-font-size);
	line-height: 1.75;
}

main {
  padding: var(--container-padding);
}

footer {
  text-align: center;
}



